<div *ngIf="billData">
    <h2>Bill Details</h2>
    <div *ngIf="billData.fieldValues">
      <div *ngFor="let key of objectKeys(billData.fieldValues)">
        <strong>{{ key }}:</strong>
        <span *ngIf="!editing[key]">{{ billData.fieldValues[key] }}</span>
        <input *ngIf="editing[key]" type="text" [(ngModel)]="editedValues[key]">
        <button (click)="toggleEdit(key)">
          {{ editing[key] ? 'Cancel' : 'Edit' }}
        </button>
        <button *ngIf="editing[key]" (click)="confirmEdit(key)">Confirm</button>
      </div>
    </div>
  </div>